<div class="row">
    <div class="col-xs-12">
        <h1>Medical Conditions</h1>
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h5>This information will help Honor Flight serve you best on the trip by meeting all of your needs. The medical information
you provide WILL NOT disqualify you from going on a flight. Information is used by Honor Flight personnel only. </h5>
    </div>
</div>

<div class="row" ng-show="contact.showAwards()">
  <div class="col-xs-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Condition Type</th>
          <th>Condition Name</th>
          <th>Last Date</th>
          <th colspan="2">Comments</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select class="form-control"
            ng-model="contact.medicalCondition.typeId"
            required
            tabindex="6"
            ng-options="type.id as type.name for type in medicalCondition.medicalConditionTypes">
            <option value="">Select One</option>
            </select>
          </td>
          <td>
              <select class="form-control"
              ng-model="contact.medicalCondition.nameId"
              required
              tabindex="6"
              ng-options="conditionName.id as conditionName.name for conditionName in medicalCondition.medicalConditionNames |  filter: {medical_condition_type_id: contact.medicalCondition.typeId}">
              <option value="">Select One</option>
            </select>
          </td>
          <td>
            <input type="text" ng-model="contact.medicalCondition.lastDate" class="form-control" placeholder="MM/YYYY" ui-mask="99/9999">
          </td>
          <td>
            <input type="text" ng-model="contact.medicalCondition.comment" class="form-control">
          </td>
          <td>
            <button class="btn btn-primary" ng-click="contact.addMedicalCondition()">
              <i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <accordion close-others="medicalCondition.accordianSetting.oneAtATime">
      <accordion-group is-open="medicalCondition.accordianSetting.isFirstOpen" ng-repeat="condition in contact.person.medicalConditions">
        <accordion-heading>
          {{$index + 1}}. {{medicalCondition.nameFor('medicalConditionTypes', condition.typeId).name}} -  
           {{medicalCondition.nameFor('medicalConditionNames', condition.nameId).name}} <i class="pull-right fa fa-trash-o"></i>
        </accordion-heading>
        {{condition.lastDate}} - {{condition.comment}}
      </accordion-group>
    </accordion>
  </div>
</div>
