<div>
    <form name="veteranPersonalInfoForm" class="modal-form" ng-model="veteranInfo"  ng-submit="info.submit()" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h1>Veteran Personal Information</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="lastName">
                    <div>
                        <label class="control-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" ng-model="veteranInfo.lastName" class="form-control"
                               tabindex="1" required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="firstName">
                    <div>
                        <label class="control-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" ng-model="veteranInfo.firstName" class="form-control"
                               tabindex="2" required ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="middleName">
                    <div>
                        <label class="control-label">Middle Name</label>
                        <input type="text" name="middleName" id="middleName" ng-model="veteranInfo.middleName" class="form-control"
                               tabindex="3" ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="nickname">
                    <div>
                        <label class="control-label">Nickname</label>
                        <input type="text" name="nickname" id="nickname" ng-model="veteranInfo.nickname" class="form-control"
                               tabindex="4" ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="dateOfBirth">
                    <div>
                        <label class="control-label">Date of Birth</label>
                        <input type="text" name="dateOfBirth" id="dateOfBirth" ng-model="veteranInfo.dateOfBirth" class="form-control"
                               tabindex="5" required placeholder="MM/DD/YYYY" ui-mask="99/99/9999">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="tShirtSize">
                    <div>
                        <label class="control-label">T-Shirt Size</label>
                        <select name="tShirtSize" id="tShirtSize" ui-select2="selectOptions"
                                class="form-control"
                                ng-model="veteranInfo.tShirtSize"
                                placeholder="Choose shirt size" style="width:100%;" tabindex="7">
                            <option value=""></option>
                            <option ng-repeat="shirtSize in shirtSizes" value="{{shirtSize.Id}}">
                                {{shirtSize.SHIRT_SIZE_CD__c}}
                            </option>
                        </select>
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="address">
                    <div>
                        <label class="control-label">Address</label>
                        <input type="text" name="address" id="address" ng-model="veteranInfo.address" class="form-control"
                               tabindex="8" required ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="city">
                    <div>
                        <label class="control-label">City</label>
                        <input type="text" name="city" id="city" ng-model="veteranInfo.city" class="form-control"
                               tabindex="9" ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="state">
                    <div>
                        <label class="control-label">State</label>
                        <input type="text" name="state" id="state" ng-model="veteranInfo.state" class="form-control"
                               tabindex="10">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="zipCode">
                    <div>
                        <label class="control-label">Zip Code</label>
                        <input type="text" name="zipCode" id="zipCode" ng-model="veteranInfo.zipCode" class="form-control"
                               ui-mask="99999" tabindex="11">
                    </div>
                </form-group>
            </div>
            <div class="col-md-5">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="county">
                    <div>
                        <label class="control-label">County</label>
                        <input type="text" name="county" id="county" ng-model="veteranInfo.county" class="form-control"
                               tabindex="12" ng-trim="true">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="homePhone">
                    <div>
                        <label class="control-label">Home Phone</label>
                        <input type="text" name="homePhone" id="homePhone" ng-model="veteranInfo.homePhone" class="form-control"
                               ui-mask="(999) 999-9999"  tabindex="13">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="cellPhone">
                    <div>
                        <label class="control-label">Cell Phone</label>
                        <input type="text" name="cellPhone" id="cellPhone" ng-model="veteranInfo.cellPhone" class="form-control"
                               ui-mask="(999) 999-9999" tabindex="14">
                    </div>
                </form-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form-group validate-when="submitted" form-ctrl="veteranPersonalInfoForm" field-name="email">
                    <div>
                        <label class="control-label">E-Mail</label>
                        <input type="text" name="email" id="email" ng-model="veteranInfo.email" class="form-control"
                               tabindex="15" ng-maxlength="50" ng-trim="true">
                    </div>
                </form-group>
            </div>
            <div class="col-md-6">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" id="saveVeteranInfo" ui-sref="veteranTravel" tabindex="16">Save</button>
            </div>
        </div>
    </form>
</div>
