<div class="row pad-bottom">
  <div class="col-xs-5 col-sm-5">
    <label class="control-label">First Name</label>
    <input type="text" ng-model="contact.firstName" class="form-control" tabindex="1">
  </div>
  <div class="col-xs-2 col-sm-2">
    <label class="control-label">Middle</label>
    <input type="text" ng-model="contact.middleInitial" class="form-control" tabindex="2">
  </div>
  <div class="col-xs-5 col-sm-5">
    <label class="control-label">Last Name</label>
    <input type="text" ng-model="contact.lastName" class="form-control" tabindex="3">
  </div>
</div>
<div class="row pad-bottom">
  <div class="col-xs-6 col-sm-6">
    <label class="control-label">Email Address</label>
    <input type="text" ng-model="contact.email" class="form-control" tabindex="4">
  </div>
  <div class="col-xs-6 col-sm-6">
    <label class="control-label">Phone Number</label>
    <input type="text" ng-model="contact.phone" class="form-control" tabindex="5" ui-mask="(999) 999-9999">
  </div>
</div>
<div class="row pad-bottom">
  <div class="col-xs-6 col-sm-6">
    <label class="control-label">War</label>
    <select class="form-control"
            ng-model="contact.war"
            style="width:100%;"
            required
            tabindex="6"
            ng-options="war.id as war.name for war in contactInfo.wars">
            <option value="">Select One</option>
    </select>
  </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-11 col-sm-11">
    </div>
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="contactInfo.goTo()">Next</button>
    </div>
</div>
