<div  cg-busy="contactInfo.promises">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="page-header">
        <h1>Veteran Contact Information</h1>
        <h5>Please provide us with the information about the veteran who is applying for an Honor Flight</h5>
          <h6>* Required Field</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-4 col-sm-4">
      <label class="control-label">* First Name</label>
      <input type="text" ng-model="contact.person.firstName" name="fName" class="form-control" placeholder="John"required>
        <div ng-show="generalInfoForm.$submitted || generalInfoForm.fName.$touched">
            <div ng-show="generalInfoForm.fName.$error.required" class="errorMessage">First Name is Required.</div>
        </div>
    </div>
    <div class="form-group col-xs-4 col-sm-4">
      <label class="control-label">Middle Name</label>
      <input type="text" ng-model="contact.person.middleName" class="form-control" placeholder="Alfred">
    </div>
    <div class="form-group col-xs-4 col-sm-4">
      <label class="control-label">* Last Name</label>
      <input type="text" ng-model="contact.person.lastName" name="lName" class="form-control" placeholder="Doe" required>
        <div ng-show="generalInfoForm.$submitted || generalInfoForm.lName.$touched">
            <div ng-show="generalInfoForm.lName.$error.required" class="errorMessage">Last Name is Required.</div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group col-xs-12 col-sm-12">
          <label class="control-label">Address</label>
          <input type="text" ng-model="contact.person.address.street1" class="form-control" placeholder="1234 Somewhere Dr.">
      </div>
  </div>
  <div class="row">
      <div class="form-group col-xs-6 col-sm-6">
          <label class="control-label">City</label>
          <input type="text" ng-model="contact.person.address.city" class="form-control" placeholder="Springfield">
      </div>
      <div class="form-group col-xs-2 col-sm-2">
          <label class="control-label">State</label>
          <input type="text" ng-model="contact.person.address.state" class="form-control" ui-mask="AA">
      </div>
      <div class="form-group col-xs-4 col-sm-4">
          <label class="control-label">Zipcode</label>
          <input type="text" ng-model="contact.person.address.zipcode" class="form-control" ui-mask="99999">
      </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6 col-sm-6">
      <label class="control-label">Email Address</label>
      <input type="text" ng-model="contact.person.email" name="email" class="form-control" placeholder="John.A.Doe@example.com">
    </div>
    <div class="form-group col-xs-6 col-sm-6">
      <label class="control-label">* Phone Number</label>
      <input type="text" ng-model="contact.person.phone" class="form-control" name="phone" ui-mask="(999) 999-9999" required>
        <div ng-show="generalInfoForm.$submitted || generalInfoForm.phone.$touched">
            <div ng-show="generalInfoForm.phone.$error.required" class="errorMessage">Phone Number is Required.</div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <label class="control-label">Shirt Size</label>
      <select class="form-control"
              ng-model="contact.person.shirtSizeId"
              ng-options="shirtSize.id as shirtSize.abbreviation for shirtSize in contactInfo.shirtSizes">
              <option value="">Select One</option>
      </select>
    </div>
    <div class="form-group col-xs-4">
      <label class="control-label">* Date of Birth</label>
      <input type="text" ui-mask="99/99/9999" ng-model="contact.person.birthDate" name="birthDate" class="form-control" required ui-mask-use-viewvalue="true">
        <div ng-show="generalInfoForm.$submitted || generalInfoForm.birthDate.$touched">
            <div ng-show="generalInfoForm.birthDate.$error.required" class="errorMessage">Birth Date is Required.</div>
        </div>
    </div>
    <div class="form-group col-xs-4">
      <label class="control-label">War</label>
      <select class="form-control"
              ng-model="contact.person.warId"
              ng-options="war.id as war.name_with_years for war in contactInfo.wars">
              <option value="">Select One</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="contact.person.releaseInfo">
          I would like to share my contact information with other veterans on the same flight. <a ng-click="contactInfo.open('veteran_release_info')">More details...</a>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10"><p>By clicking next, I am stating that I have reviewed and I accept the <a ng-click="contactInfo.open('terms_conditions')">terms and conditions</a> and <a ng-click="contactInfo.open('privacy')">privacy policy</a>.</p></div>
      <div class="col-xs-2 pull-right text-right">
          <button class="btn btn-primary" ng-click="contact.submitContactInfo(generalInfoForm, 'applications.serviceHistory')">Next</button>
      </div>
  </div>
</div>
