<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h1>Medical Conditions</h1>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h4>Please check the medical conditions which apply to you, past or present<br>
            <small>If you check any condition below, PLEASE discuss the trip with your physician.</small>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Condition Type</label>
    </div>
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Condition Name</label>
    </div>
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Date of Last Occurrence (if applicable)</label>
    </div>
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Comments</label>
    </div>
</div>
<div ng-repeat="medicalCondition in contact.medicalConditions">
    <div class="row pad-bottom">
        <div class="col-xs-3 col-sm-3">
            <select class="form-control"
                    ng-model="contact.type"
                    style="width:100%;"
                    required
                    tabindex="6"
                    ng-options="type.id as type.name for type in medicalCondition.types">
                <option value="">Select One</option>
            </select>
        </div>
        <div class="col-xs-3 col-sm-3">
            <select class="form-control"
                    ng-model="contact.conditionName"
                    style="width:100%;"
                    required
                    tabindex="6"
                    ng-options="conditionName.id as conditionName.name for conditionName in medicalCondition.conditionNames">
                <option value="">Select One</option>
            </select>
        </div>
        <div class="col-xs-3 col-sm-3">
            <input type="text" ng-model="contact.date" class="form-control" placeholder="MM/YYY" ui-mask="99/9999">
        </div>
        <div class="col-xs-3 col-sm-3">
            <input type="text" ng-model="contact.comment" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="contact.addCondition()" ng-disabled="contact.canAddToList('medicalConditions')">Add Condition</button>
    </div>
    <div class="col-xs-10 col-sm-10">
    </div>
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="medicalCondition.goTo()">Next</button>
    </div>
</div>
