<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h1>Medical Conditions</h1>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h4>Please check the medical conditions which apply to you, past or present<br>
            <small>If you check any condition below, PLEASE discuss the trip with your physician.</small>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Condition Type</label>
    </div>
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Condition Name</label>
    </div>
    <div class="col-xs-2 col-sm-2">
        <label class="control-label">Last Date</label>
    </div>
    <div class="col-xs-3 col-sm-3">
        <label class="control-label">Comments</label>
    </div>
</div>
<div ng-repeat="medicalCondition in contact.medicalConditions">
    <div class="row pad-bottom">
        <div class="col-xs-3 col-sm-3">
            {{medicalCondition.conditionType}}
        </div>
        <div class="col-xs-3 col-sm-3">
            {{medicalCondition.conditionName}}
        </div>
        <div class="col-xs-2 col-sm-2">
            {{medicalCondition.conditionDate}}
        </div>
        <div class="col-xs-3 col-sm-3">
            {{medicalCondition.conditionComment}}
        </div>
        <div class="col-xs-1 col-sm-1">
            <button class="btn btn-primary" ng-click="contact.deleteCondition(medicalCondition)">Delete</button>
        </div>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-3 col-sm-3">
        <select class="form-control"
                ng-model="contact.conditionType"
                required
                tabindex="6"
                ng-options="type.name for type in medicalCondition.types">
            <option value="">Select One</option>
        </select>
    </div>
    <div class="col-xs-3 col-sm-3">
        <select class="form-control"
                ng-model="contact.conditionName"
                required
                tabindex="6"
                ng-options="conditionName.name for conditionName in medicalCondition.conditionNames">
            <option value="">Select One</option>
        </select>
    </div>
    <div class="col-xs-2 col-sm-2">
        <input type="text" ng-model="contact.conditionDate" class="form-control" placeholder="MM/YYYY" ui-mask="99/9999">
    </div>
    <div class="col-xs-3 col-sm-3">
        <input type="text" ng-model="contact.conditionComment" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="contact.addCondition()" ng-disabled="contact.canAddToList('medicalConditions')">Add Condition</button>
    </div>
    <div class="col-xs-10 col-sm-10">
    </div>
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="medicalCondition.goTo()">Next</button>
    </div>
</div>
