<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h1>Service History</h1>
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-4 col-sm-4">
        <div>
            <label class="control-label">Branch</label>
            <select class="form-control"
                    ng-model="contact.branch"
                    required
                    tabindex="1"
                    ng-options="branch.id as branch.name for branch in serviceHistory.branches">
                <option value="">Select One</option>
            </select>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div>
            <label class="control-label">Rank Type</label>
            <select class="form-control"
                    ng-model="contact.rankType"
                    required
                    tabindex="2"
                    ng-options="type.id as type.name for type in serviceHistory.rankTypes">
                <option value="">Select One</option>
            </select>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div>
            <label class="control-label">Rank</label>
            <select class="form-control"
                    ng-model="contact.rank"
                    required
                    tabindex="3"
                    ng-options="rank.id as rank.name for rank in serviceHistory.ranks">
                <option value="">Select One</option>
            </select>
        </div>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <div>
            <label class="control-label">Theater (Location of Duty)</label>
            <input type="text" ng-model="contact.theater" class="form-control"
                   tabindex="4" ng-trim="true">
        </div>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <div>
            <label class="control-label">Activity</label>
            <input type="text" ng-model="contact.activity"
                   class="form-control"
                   tabindex="5" ng-trim="true">
        </div>
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-6 col-sm-6">
        <div>
            <label class="control-label">Start date</label>
            <input type="text" ng-model="contact.startDate" class="form-control"
                   placeholder="MM/YYYY" ui-mask="99/9999">
        </div>
    </div>
    <div class="col-xs-6 col-sm-6">
        <div>
            <label class="control-label">End date</label>
            <input type="text" ng-model="contact.endDate" class="form-control"
                   placeholder="MM/YYYY" ui-mask="99/9999">
        </div>
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-11 col-sm-11">
    </div>
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="serviceHistory.goTo()">Next</button>
    </div>
</div>
