<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h3>Service Awards</h3>
    </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">Name</label>
      <select class="form-control"
              ng-model="contact.awardName"
              required
              tabindex="1"
              ng-options="award.name for award in serviceAwards.awards">
          <option value="">Select One</option>
      </select>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label class="control-label">Quantity</label>
      <input type="text" ng-model="contact.awardQuantity" class="form-control">
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label class="control-label">Comment</label>
      <input type="text" ng-model="contact.awardComment" class="form-control">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <label class="control-label">&nbsp;</label>
      <button class="btn btn-primary form-control" ng-click="contact.addAward()">
        <i class="fa fa-plus"></i>
        Award
      </button>
    </div>
  </div>
</div>

<div ng-repeat="award in contact.serviceAwards" class="row">
    <div class="col-xs-4 col-sm-4 form-group">
      {{award.awardName}}
    </div>
    <div class="col-xs-3 col-sm-3 form-group">
      {{award.awardQuantity}}
    </div>
    <div class="col-xs-3 col-sm-3 form-group">
      {{award.awardComment}}
    </div>
    <div class="col-xs-1 col-sm-1 form-group">
      <button class="btn btn-primary" ng-click="contact.deleteAward(award)">Delete</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-1 col-sm-2 pull-right text-right">
        <button class="btn btn-primary" ng-click="serviceAwards.goTo()">Next</button>
    </div>
</div>
