<div cg-busy="serviceHistory.promises">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1>Service History</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="form-group">
        <label class="control-label">Start Year</label>
        <input type="number" ng-model="contact.person.serviceHistory.start_year" class="form-control">
      </div>
      <!-- (Array) contact.person.serviceHistory.service_awards_attributes 
      t.integer :quantity
      t.text :comment
      t.references :service_history, index: true
      t.references :award, index: true

      [{"quantity":2, "comment":"some arbitrary comment", ..., "award_id":2}, ... ]
      PUT http://honorflight.dev/api/service_histories/3
      {"id":3,
 "start_year":null,
 "end_year":null,
 "activity":null,
 "story":null,
 "branch_id":1,
 "rank_id":null,
 "rank_type_id":null,
 "person_id":6,
 "service_awards_attributes": [
   {"quantity":2, "comment":"some arbitrary comment", "award_id":1}
 ]
}
    -->
    </div>
    <div class="col-xs-6 col-sm-6">
      <div>
        <label class="control-label">End Year</label>
        <input type="number" ng-model="contact.person.serviceHistory.end_year" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="form-group">
        <label class="control-label">Activity</label>
        <input type="text" ng-model="contact.person.serviceHistory.activity"
        class="form-control"
        tabindex="5" ng-trim="true">
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="form-group">
        <label class="control-label">Your Story</label>
        <textarea class="form-control" placeholder="Tell us more about your time in the service(s)" ng-model="contact.person.serviceHistory.story"
        tabindex="4" ng-trim="true" rows="3">
        </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-4">
      <div class="form-group"> 
        <label class="control-label">Branch</label>
        <select class="form-control"
        ng-model="contact.person.serviceHistory.branch_id"
        required
        tabindex="1"
        ng-options="branch.id as branch.name for branch in serviceHistory.branches">
          <option value="">Select One</option>
        </select>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="form-group">
        <label class="control-label">Rank Type</label>
        <select class="form-control"
        ng-model="contact.person.serviceHistory.rank_type_id"
        required
        tabindex="2"
        ng-options="type.id as type.name for type in serviceHistory.rankTypes">
          <option value="">Select One</option>
        </select>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="form-group">
        <label class="control-label">Rank</label>
        <select class="form-control"
        ng-model="contact.person.serviceHistory.rank_id"
        ng-options="rank.id as rank.name for rank in serviceHistory.ranks | filter: {rank_type_id: contact.person.serviceHistory.rank_type_id, branch_id: contact.person.serviceHistory.branch_id}">
          <option value="">Select One</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Service Awards</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th colspan="2">Comment/Story</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select class="form-control"
                ng-model="contact.awardName"
                required
                tabindex="1"
                ng-options="award.name for award in serviceHistory.awards | pick: 'branch_id === null'">
                <!--WORKING THIS WHEN STOPPED-->
                <option>Select One</option>
              </select>
            </td>
            <td>
              <input type="number" ng-model="contact.awardQuantity" class="form-control" style="width:75px;">
            </td>
            <td class="">
              <input type="text" ng-model="contact.awardComment" class="form-control">
            </td>
            <td>
              <button class="btn btn-primary form-control" ng-click="contact.addAward()">
                <i class="fa fa-plus"></i>
              </button>            
            </td>
          </tr>
          <tr ng-repeat="award in contact.person.serviceHistory.service_awards_attributes ">
            <td>{{serviceHistory.awardNameFor(award.award_id)}}</td>
            <td>{{award.quantity}}</td>
            <td>{{award.comment}}</td>
            <td>
              <button class="btn btn-primary form-control" ng-click="contact.removeAward($index)">
                <i class="fa fa-trash-o"></i>
              </button>            
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-primary" ng-click="contact.submitServiceHistory('applications.serviceAwards')">Next</button>
    </div>
  </div>
</div>
