<div class="row pad-bottom">
    <div class="col-xs-12 col-sm-12">
        <h3>Awards</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4">
        <label class="control-label">Name</label>
    </div>
    <div class="col-xs-4 col-sm-4">
        <label class="control-label">Quantity</label>
    </div>
    <div class="col-xs-4 col-sm-4">
        <label class="control-label">Comment</label>
    </div>
</div>
<div ng-repeat="award in contact.serviceAwards">
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            {{award.awardName}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{award.awardQuantity}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{award.awardComment}}
        </div>
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-4 col-sm-4">
        <div>
            <select name="name" id="name" ui-select2="selectOptions"
                    class="form-control"
                    ng-model="contact.awardName"
                    placeholder="Choose award" style="width:100%;">
                <option value=""></option>
                <option value="other">Other</option>
                <option ng-repeat="serviceAward in serviceAwards.serviceAwards" value="{{serviceAward.Id}}">
                    {{serviceAward.SERVICE_AWARD_NM__c}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div>
            <input type="text" name="quantity" id="quantity" ng-model="contact.awardQuantity" class="form-control">
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div>
            <input type="text" name="comment" id="comment" ng-model="contact.awardComment" class="form-control">
        </div>
    </div>
</div>
<div class="row pad-bottom">
    <div class="col-xs-10 col-sm-10">
        &nbsp;
    </div>
    <div class="col-xs-2 col-sm-2">
        <input type="button" class="btn btn-primary" id="addAward" ng-click="contact.addAward()" ng-disabled="contact.canAddToList('serviceAwards')" value="Add Award">
    </div>
</div>

<div class="row pad-bottom">
    <div class="col-xs-11 col-sm-11">
    </div>
    <div class="col-xs-1 col-sm-1">
        <button class="btn btn-primary" ng-click="serviceAward.goTo()">Next</button>
    </div>
</div>
