<div cg-busy="contactInfo.promises">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div>
        <h1>{{contact.contactType | titlecase}} Volunteer Information</h1>
        <h5>Please provide us with some information about your volunteering experience.</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10 col-sm-10">
      <label class="control-label">How did you learn about the Honor Flight organization?</label>
      <textarea ng-model="contact.person.learnedAbout" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10 col-sm-10">
      <label class="control-label">Why are you volunteering for Honor Flight?</label>
      <textarea ng-model="contact.person.whyVolunteer" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-10 col-sm-10">
      <label class="control-label">Please list any prior volunteer experience:</label>
      <textarea ng-model="contact.person.previousExperience" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-right">
        <button class="btn btn-secondary" ng-click="contact.goBack(contact.contactSteps[contact.contactType]['volunteerInfo']['back'])">Back</button>
      <button class="btn btn-primary" ng-click="contact.submitVolunteerExperience(contact.contactSteps[contact.contactType]['volunteerInfo']['forward'])" ng-disabled="contact.promises.length !== 0"><i ng-show="contact.promises.length !== 0" class="fa fa-spinner fa-spin"></i>&nbsp;Finish</button>
    </div>
  </div>
</div>